<div ng-controller="ProjectController as pc" ng-cloak >
  	<md-content class="md-padding" layout-xs="column" layout="row">
    	<div flex-xs flex-gt-xs="33" layout="column" ng-repeat="column in pc.searchResult.columns">
	    	<md-card ng-repeat="project in column" >
		   		<md-card-content>
		       		<div class="content-padded">
		           		<h2 class="md-title">{{ project.title }}</h2>
		           		<p>{{ project.description }}</p>
		       		</div>
		        	<md-divider></md-divider>
		        	<div class="button-toolbar" layout="row" layout-align="start center">
		            	<md-button class="md-accent">Open</md-button>
		            	<md-button class="md-primary" ng-click="pc.detail($event, project)">Edit</md-button>
		        	</div>
		   		</md-card-content>
			</md-card>		
		</div>
  	</md-content>
  	<div ng-show="false">
  		<span 
  			dir-paginate="reg in pc.searchResult.content|itemsPerPage:pc.pageRequest.pageSize" 
  			total-items="pc.searchResult.totalElements" 
  			current-page="pc.searchResult.number" />
  	</div>  	
    <dir-pagination-controls 
    	max-size="5" 
    	direction-links="true" 
    	boundary-links="true" 
    	total-items="pc.searchResult.totalElements" 
    	current-page="pc.searchResult.number"
    	on-page-change="pc.onPageChange(newPageNumber)">
    </dir-pagination-controls>

    
</div> 