<div ng-controller="ProjectController as pc" ng-cloak >
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="33" layout="column" ng-repeat="column in pc.searchResult.columns">
	    <md-card ng-repeat="project in column" >
		   	<md-card-content>
		       	<div class="content-padded">
		           	<h2 class="md-title">{{ project.title }}</h2>
		           	<p>{{ project.description }}</p>
		       	</div>
		        <md-divider></md-divider>
		        <div class="button-toolbar" layout="row" layout-align="start center">
		            <md-button class="md-accent">Share</md-button>
		            <md-button class="md-primary" ng-click="pc.detail()">Explore</md-button>
		        </div>
		   	</md-card-content>
		</md-card>		
	</div>
  </md-content>
</div>