<md-dialog aria-label="Edit Project"  ng-cloak  class="md-inline-form" flex="70" flex-sm="70">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Project</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
		<div class="md-dialog-content">		
			<form name="userForm">
		      	<md-input-container  class="md-block">
		       		<label>Title</label>
		       		<input ng-model="controller.entity.title" md-maxlength="30" >
		      	</md-input-container>
		       		<md-input-container class="md-block">
		       			<label>Summary</label>
		       			<textarea ng-model="controller.entity.summary" md-maxlength="150" rows="5" md-select-on-focus></textarea>
		      		</md-input-container>
		  		<md-input-container class="md-block">
		        	<label>Description</label>
		        	<textarea ng-model="controller.entity.description" md-maxlength="300" rows="10" md-select-on-focus></textarea>
		        </md-input-container>		  
		     </form>
		</div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
		<md-button class="md-accent" ng-click="controller.save(controller.entity)">Save</md-button>
		<md-button class="md-primary" ng-click="controller.closeDialog()" >Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>